/*************** SignUp and SignIn page ***************/

.signUpBody, .signInBody {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.signUpContainer, .signInContainer {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 3%;
  width: 40%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.signUpLabel, .signInLabel {
  font-size: 16px;
  font-weight: 700;
}

.signInButton, .signUpButton {
  width: 100%;
}

.containerTitle {
  margin-bottom: 5%;
  font-size: 27px !important;
  font-weight: bold;
}

.signInHorizontalLine, .signUpHorizontalLine {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 30px 0 20px; 
}

.signInHorizontalLine span {
  background:#fff; 
  padding:0 10px; 
}

.signUpHorizontalLine span {
  background:#fff; 
  padding:0 10px; 
}

@media only screen 
and (max-device-width : 1366px) 
and (orientation : landscape) {
  .signUpBody .signInBody {
    display: flex;
    align-items: center;
  }

  .signUpContainer, .signInContainer {
    width: 60%;
    height: 90%;
  }
}

@media only screen
and (max-device-width: 1024px)
and (orientation: portrait) {
  .signUpContainer, .signInContainer {
    margin-top: 10%;
    height: 70%;
    width: 60%;
  }
}

@media (max-width: 414px) {
  .signUpContainer, .signInContainer {
    margin-top: 0;
    width: 100%;
    height: auto;
  }

  .containerTitle {
    font-size: 24px !important;
    font-weight: bold;
  }

  .signUpLabel {
    font-size: 12px !important;
    font-weight: bold;
  }
}

@media only screen
and (max-device-width: 823px)
and (orientation: landscape) {
  .signUpBody {
    height: 100%;
  }

  .signUpContainer {
    margin-top: 0%;
    height: auto;
    width: 100%;
  }

  .signInBody {
    height: 100vh;
  }

  .signInContainer {
    margin-top: 0%;
    height: 100%;
    width: 100%;
  }

  .containerTitle {
    margin-bottom: 0;
  }
}

/******************* Side Nav **********************/

.sideNavBody {
  width: 56px;
  height: 100vh;
}

.sideNav {
  height: 100%;
  width: 56px;
}

@media all and (min-width: 480px) {
  .sideNavBody {
    display: block;
  }
}

/******************** Friends *************************/
.friendsTopNav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.friendsTopNavButtonContainer {
  margin-left: 2rem;
}

.friendsTopNavButton {
  background-color: white;
}

.friendsTopNavButton:hover {
  background-color: #f3f3f4;
}

#add{
  padding: 17px;
  width: 300px;
  height: 30px;
  font-size: 13px;
  background-color: #f5f5f5;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#allHeader {
  padding: 17px;
  width: 300px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#friend-search-bar {
  width: 100%;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  font-size: 20px;
}

.friend-search-button {
  background-color: #f5f5f5;
}

.friendsBody {
  margin-top: 30px;
  width: 100%;
  height: auto;
  min-height: 500px;
}

.friendRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
  border-top: 1px solid gray;
}

.friend-profile-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.friend-user-id {
  margin-left: 1rem;
  font-size: 18px;
}

.friend-chat-icon-container {
  width: 50px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.friend-add-button-container, .friend-accept-button-container, .friend-reject-button-container {
  margin: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-add-button, .friend-accept-button, .friend-reject-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 70px;
}

.friend-accept-button, .friend-reject-button {
  width: 100% !important;
}

.friend-add-button:after, .friend-accept-button:after, .friend-reject-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}

.friend-reject-button:after {
  background-color: #ffcff1 !important;
}

.friend-add-button:before, .friend-accept-button:before, .friend-reject-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.friend-reject-button:before {
  background-color: #ff69b4 !important;
}

.friend-add-button:hover, .friend-accept-button:hover, .friend-reject-button:hover {
  color: #fff;
}

.friend-add-button:hover:before, .friend-accept-button:hover:before, .friend-reject-button:hover:before {
  width: 100%;
}

.friend-request-sent {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: gray;
  width: 70px;
}

@media (max-width: 414px) {
  #add {
    width: 100%;
  }

  .friend-profile-image {
    width: 60px;
    height: 60px;
  }

  .friend-user-id {
    font-size: 14px;
    margin-left: 5px;
  }

  .friend-add-button-container, .friend-accept-button-container, .friend-reject-button-container {
    width: 100%;
    text-align: center;
    margin: 0px;
  }

  .friend-add-button {
    display: inline-block;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .friend-accept-button-container, .friend-reject-button-container  {
    width: 70px;
  }

  .friend-accept-button, .friend-reject-button {
    width: 60px;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
  }
}