/*************** SignUp and SignIn page ***************/

.signUpBody, .signInBody {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
}

.signUpContainer, .signInContainer {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 3%;
  width: 40%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

.signUpLabel, .signInLabel {
  font-size: 16px;
  font-weight: 700;
}

.signInButton, .signUpButton {
  width: 100%;
}

.containerTitle {
  font-size: 27px !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.signInHorizontalLine, .signUpHorizontalLine {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 30px 0 20px; 
}

.signInHorizontalLine span {
  background:#36393e; 
  padding:0 10px; 
}

.signUpHorizontalLine span {
  background:#36393e; 
  padding:0 10px; 
}

@media only screen 
and (max-device-width : 1366px) 
and (orientation : landscape) {
  .signUpBody .signInBody {
    display: flex;
    align-items: center;
  }

  .signUpContainer, .signInContainer {
    width: 60%;
    height: 90%;
  }
}

@media only screen
and (max-device-width: 1024px)
and (orientation: portrait) {
  .signUpContainer, .signInContainer {
    margin-top: 10%;
    height: 70%;
    width: 60%;
  }
}

@media (max-width: 414px) {
  .signUpContainer, .signInContainer {
    margin-top: 0;
    width: 100%;
    height: auto;
  }

  .containerTitle {
    font-size: 24px !important;
    font-weight: bold;
  }

  .signUpLabel {
    font-size: 12px !important;
    font-weight: bold;
  }
}

@media only screen
and (max-device-width: 823px)
and (orientation: landscape) {
  .signUpBody {
    height: 100%;
  }

  .signUpContainer {
    margin-top: 0%;
    height: auto;
    width: 100%;
  }

  .signInBody {
    height: 100vh;
  }

  .signInContainer {
    margin-top: 0%;
    height: 100%;
    width: 100%;
  }

  .containerTitle {
    margin-bottom: 0;
  }
}

/******************* Side Nav **********************/

.sideNavBody {
  width: 56px;
  min-height: 100vh;
  height: 100%;
}

.sideNav {
  height: 100%;
  width: 56px;
  position: fixed;
  left: 0;
  top: 0;
}

@media all and (min-width: 480px) {
  .sideNavBody {
    display: block;
  }
}

/******************* Edit **************************/

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/******************** Friends *************************/
.friendsTopNav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.friendsTopNavButtonContainer {
  margin-left: 1rem;
}

.friendsTopNavButton {
  background-color: #36393e;
  color: white;
}

#add{
  padding: 17px;
  width: 300px;
  height: 30px;
  font-size: 13px;
  background-color: #202225;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#allHeader {
  padding: 17px;
  width: 300px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: white;
}

#friend-search-bar {
  width: 100%;
  /* background-color: #202225; */
  background-color: #202225;
  border: none;
  outline: none;
  font-size: 20px;
}

.friend-search-button {
  background-color: #202225;
}

.friendsBody {
  margin-top: 30px;
  width: 100%;
  height: auto;
  min-height: 500px;
}

.friendRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  border-top: 1px solid #424549;
  color: white;
}

.friend-profile-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
}

.friend-user-id {
  margin-left: 1rem;
  font-size: 18px;
}

.friend-chat-icon-container {
  width: 50px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.friend-add-button-container, .friend-accept-button-container, .friend-reject-button-container {
  margin: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-add-button, .friend-accept-button, .friend-reject-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 70px;
}

.friend-accept-button, .friend-reject-button {
  width: 100% !important;
}

.friend-add-button:after, .friend-accept-button:after, .friend-reject-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}

.friend-reject-button:after {
  background-color: #ffcff1 !important;
}

.friend-add-button:before, .friend-accept-button:before, .friend-reject-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.friend-reject-button:before {
  background-color: #ff69b4 !important;
}

.friend-add-button:hover, .friend-accept-button:hover, .friend-reject-button:hover {
  color: #fff;
}

.friend-add-button:hover:before, .friend-accept-button:hover:before, .friend-reject-button:hover:before {
  width: 100%;
}

.friend-request-sent {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: gray;
  width: 70px;
}

@media (max-width: 414px) {
  #add {
    width: 100%;
  }
  
  .friendsBody {
    margin-top: 0px;
  }

  .friend-profile-image {
    width: 40px;
    height: 40px;
  }

  .friend-user-id {
    font-size: 14px;
    margin-left: 5px;
  }

  .friend-add-button-container, .friend-accept-button-container, .friend-reject-button-container {
    width: 100%;
    text-align: center;
    margin-right: 2.5px;
  }

  .friend-add-button {
    display: inline-block;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .friend-accept-button-container, .friend-reject-button-container  {
    width: 70px;
  }

  .friend-accept-button, .friend-reject-button {
    width: 60px;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
  }

  .friend-chat-icon-container {
    width: 40px;
    margin-right: 0em;
  }
}

/************************ Chat ***********************/

.mobile-chat-page-container {
  width: 100%;
  height: 100vh;
}

.chat-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chat-list-container-mobile {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.chat-list-container {
  height: 100vh;
  width: 220px;
  background-color: #2e3136;
  overflow-y: auto;
}

.mobile-chat-list-container-top {
  background-color: #2e3136;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 99;
}

.chat-list-container-top {
  background-color: #2e3136;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 50px;
  width: 220px;
  z-index: 99;
}

.mobile-chat-list-container-top-text {
  font-size: 22px;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 56px;
}

.chat-list-container-top-text {
  font-size: 22px;
  font-weight: bold;
  color: white;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-chat-list-container-middle {
  position: relative;
  top: 20;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: visible;
  margin-top: 50px;
}

.chat-list-container-middle {
  position: relative;
  top: 20;
  bottom: 20;
  height: 85%;
  overflow-y: scroll;
  margin-top: 50px;
}

.clicked-chat-list-row {
  display: flex;
  width: 100%;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  padding-left: 1em;
  cursor: pointer;
  background-color: #444959;
  color: white;
}

.chat-list-row {
  display: flex;
  width: 100%;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  padding-left: 1em;
  cursor: pointer;
  color: white;
}

.chat-list-picture-name {
  display: flex;
  width: 80%;
}

.chat-profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-profile-name {
  font-size: 19px;
  margin-left: 0.8em;
}

.chat-list-unread-message {
  display: flex;
  align-items: center;
  width: 20%;
}

.chat-unread-message {
  font-size: 14px;
  border: 1px solid #ed4245;
  background-color: #ed4245;
  width: 25px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  color: white;
  font-weight: bold;
}

.mobile-chat-list-container-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #2a2b2f;
  color: white;
  text-align: center;
}

.chat-list-container-bottom {
  position: absolute;
  bottom: 0;
  width: 220px;
  height: 10%;
  background-color: #2a2b2f;
  color: white;
  text-align: center;
}

.chat-my-profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.chat-my-profile-id {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

@media only screen
and (max-device-width: 823px)
and (orientation: landscape) {
  .chat-list-container-top {
    background-color: #2e3136;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 50px;
    width: 220px;
    z-index: 99;
  }

  .chat-list-container-middle {
    position: relative;
    top: 20;
    bottom: 20;
    height: 67%;
    overflow-y: scroll;
    margin-top: 50px;
  }

  .chat-list-container-bottom {
    height: 23%;
    background-color: #2e3136;
    text-align: center;
  }

  .chat-my-profile-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .chat-my-profile-id {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
  }
}

@media (max-width: 414px) {
  .chat-list-container-mobile {
    height: 100vh;
    width: 100%;
    background-color: #2e3136;
    overflow-y: auto;
  }

  .chat-list-container-top {
    width: 86%;
    height: 8%;
  }

  .chat-list-container-top-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
  }

  .chat-list-container-middle {
    position: relative;
    top: 20;
    bottom: 20;
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    margin-top: 60px;
  }

  .chat-list-row {
    display: flex;
    width: 100%;
  }

  .chat-profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .chat-profile-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .chat-list-container-bottom {
    width: 85%;
    height: 20%;
    background-color: #2e3136;
    color: white;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .chat-list-container-middle {
    position: relative;
    top: 20;
    bottom: 20;
    height: 75%;
    overflow-y: scroll;
    margin-top: 40px;
  }

  .chat-list-container-bottom {
    width: 81%;
    height: 20%;
    background-color: #2e3136;
    text-align: center;
  }
}

/******************* Chat Room *******************/

.mobile-chat-room-container {
  position: fixed;
  top: 0;
  left: 56px;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.chat-message-container {
  position: absolute;
  left: 350px;
  width: 70%;
  height: 100%;
  overflow-y: hidden;
}

.mobile-chat-message-container-header {
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #303136;
  background-color: #303136;
  position: relative;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 76px;
}

.chat-message-container-header {
  width: 70%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #303136;
  background-color: #303136;
  position: fixed;
  top: 0;
  z-index: 100;
}

.mobile-message-container-header-title {
  font-size: 26px;
  font-weight: 900;
}

.message-container-header-title {
  position: absolute;
  left: 0;
  font-size: 20px;
  font-weight: 900;
  margin-left: 2rem;
}

.chat-message-text-container {
  position: absolute;
  top: 3rem;
  bottom: 80px;
  width: 100%;
  height: auto;
  overflow-y: scroll;
}

.chat-message-more-icon-container {
  margin-right: 2rem;
  cursor: pointer;
}

.my-dropdown-toggle:after {
  display: none !important;
}

.delete-message:hover {
  text-decoration: none;
}

.dateRow {
  width: 100%;
  background-color: #444959;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem 0;
}

.sent-message-row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
}

.message-more-container {
  width: 50px;
  height: auto;
}

.message-edit:hover {
  color: white !important;
  background-color: #5965f2 !important;
}

.message-delete:hover {
  color: white !important;
  background-color: tomato !important;
}

.messageTime {
  margin: 0px 5px;
  font-weight: 800;
}

.sentMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  height: auto;
  min-height: 40px;
  background-color: #48a1de;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}

.editSentMessage {
  width: 100%;
  height: auto;
  min-height: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
}

.edit-chat-message-input {
  width: 100%;
  min-height: 50px;
  background-color: #40444c;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.mobile-message-profile-image {
  width: 10px;
  height: 0;
}

.message-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: white;
}

.empty-message-profile-image {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
}

.message-delete-check-box {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background-color: white;
}

.received-message-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
}

.receivedMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  height: auto;
  min-height: 40px;
  background-color: #ff69b4;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}

.mobile-chat-message-input-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding-right: 56px;
}

.chat-message-input-container {
  width: 70%;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.chat-message-input {
  width: 90%;
  max-height: 170px;
  min-height: 62px;
  overflow-y: scroll;
  background-color: #40444c;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

@media only screen
and (max-device-width: 1024px)
and (orientation: portrait) {
  .chat-message-container {
    position: absolute;
    left: 300px;
    width: 70%;
    height: 100%;
    overflow-y: hidden;
  }

  .message-container-header-title {
    font-size: 28px;
    font-weight: 900;
    margin-left: 2rem;
  }

  .dateRow {
    font-size: 24px;
  }

  .messageTime {
    font-size: 22px;
  }

  .sentMessage {
    font-size: 24px;
    max-width: 70%;
  }

  .receivedMessage {
    font-size: 24px;
    max-width: 70%;
  }

  .empty-message-profile-image {
    width: 40px;
    height: 40px;
    margin: 0 1rem;
  }
}

@media (max-width: 1024px) {
  .chat-list-container-bottom {
    height: 12%;
  }

  .chat-my-profile-image {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  
  .chat-my-profile-id {
    font-size: 16px;
  }

  .chat-message-container {
    position: absolute;
    left: 290px;
    width: 70%;
    height: 100%;
    overflow-y: hidden;
  }

  .sentMessage {
    max-width: 70%;
  }

  .receivedMessage {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .chat-list-container {
    height: 100vh;
    width: 200px;
    background-color: #2e3136;
    overflow-y: auto;
  }

  .chat-list-container-top {
    width: 200px;
  }
  
  .chat-list-container-top-text {
    width: 200px;
  }

  .chat-list-container-bottom {
    width: 200px;
    height: 10%;
  }

  .chat-message-container {
    position: absolute;
    left: 265px;
    width: 65%;
    height: 100%;
  }

  .chat-message-container-header {
    width: 65%;
    height: 4rem;
  }

  .dateRow {
    font-size: 22px;
  }

  .messageTime {
    font-size: 14px;
  }

  .sentMessage {
    max-width: 60%;
    font-size: 19px;
  }

  .receivedMessage {
    max-width: 60%;
    font-size: 19px;
  }

  .chat-message-input-container {
    width: 65%;
  }
}

@media(max-width: 414px) {
  .dateRow {
    width: 100%;
    background-color: #444959;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: 1rem 0;
    padding-right: 56px;
  }

  .sent-message-row {
    padding-right: 56px;
  }

  .sentMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 65%;
    height: auto;
    min-height: 20px;
    background-color: #48a1de;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
  }
  
  .edit-chat-message-input {
    width: 100%;
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
  }

  .receivedMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 65%;
    height: auto;
    min-height: 20px;
    background-color: #ff69b4;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
  }

  .messageTime {
    font-size: 12px;
  }

  .chat-message-input {
    width: 95%;
    max-height: 150px;
    min-height: 40px;
    overflow-y: scroll;
    background-color: #40444c;
    border: none;
    font-size: 16px;
    font-weight: bold;
  }

  .arrowBackIcon {
    position: absolute;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}